@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
    font-family: 'Roboto Slab';
}

.wrapper {
}
.head {
}
.main {
		// .main_blank
		&_blank {
            width: 400px;
            height: 540px;
            background-color: #CCCCCC;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
		}
}
.blank {
		// .blank_head
		&_head {
            margin: 29px 30px 0px 30px;
            height: 120px;
            width: 340px;
            background-color: #E3E3E3;
            border-radius: 20px 20px 0px 0px;
            overflow-x: scroll;
            overflow-y: hidden;
                  &::-webkit-scrollbar {
                        width: 8px;
                  }
                  &::-webkit-scrollbar-track {
                        background: #b9b7b7;
                        border-radius: 2px;
                  }
                  &::-webkit-scrollbar-thumb {
                        background-color: #6100FF;
                        border-radius: 5px;
                  }
                  &::-webkit-scrollbar-thumb:hover {
                        background: #5100d4;
                  }
                        & span{
                              display: flex;
                              justify-content: right;
                              font-weight: 400;
                              font-size: 36px;
                              line-height: 100px;
                              letter-spacing: 0.1em;
                              color: #000000;
                        }
		}
		// .blank_main
		&_main {
            align-self: center;
            background-color: #AEA6A6;
            width: 340px;
            height: 342px;
            border-radius: 20px ;
            margin: 18px 0px 0px 0px; 
            }
}
.text{

}
.blank {
		// .blank_buttons
		&_buttons {
            justify-items: center;
            display: grid;
            grid-template: repeat(4,1fr)/repeat(4,1fr);
            row-gap: 24px;
            column-gap: 14px;
            padding: auto;
		}
}

.buttons {
            
            &_decoration{
             width: 59px;
            height: 54px;
            background-color: #6100FF;
            border-radius: 5px;
            text-align: center;
            color: #FFFFFF;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 63px;
            border: none;
            display: flex;
            justify-content: center;
                 
            }

      &:hover{
            transition: 0.5s ease;
            background-color: #2F007C;
            cursor: pointer;
      }
}
.color{
      background-color:#4E0ABE;
}
.footer {
}
